<launch>
    <!-- Include the RealSense camera launch file -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

    <!-- Include your custom flask app launch file -->
    <include file="$(find flask_ros_interface)/launch/start_server.launch" />
    
    <!-- Include the motor controller launch file -->
    <include file="$(find motor_control)/launch/motor_controller.launch" />
    
    <!-- Include the inference model launch file-->
    <include file="$(find image_inference)/launch/inference.launch" />

    <!-- Include datalogger launch file-->
    <include file="$(find datalogger)/launch/data_logger.launch" />

    

</launch>
